In [1]:
import altair as alt
import pandas as pd
import altair_viewer

alt.renderers.enable('altair_viewer')

RendererRegistry.enable('altair_viewer')

In [2]:
df = pd.read_csv('GLB.Ts_dSST.csv', header=1)
df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.29,-0.18,-0.11,-0.19,-0.11,-0.23,-0.21,-0.09,-0.16,-0.23,-0.20,-0.23,-0.19,***,***,-0.14,-0.18,-0.20
1,1881,-0.15,-0.17,0.04,0.04,0.02,-0.20,-0.06,-0.02,-0.13,-0.20,-0.21,-0.10,-0.10,-.11,-.18,0.03,-0.09,-0.18
2,1882,0.15,0.15,0.04,-0.18,-0.16,-0.26,-0.20,-0.05,-0.10,-0.24,-0.16,-0.24,-0.10,-.09,.06,-0.10,-0.17,-0.17
3,1883,-0.31,-0.39,-0.13,-0.17,-0.20,-0.12,-0.08,-0.15,-0.20,-0.14,-0.22,-0.16,-0.19,-.20,-.31,-0.16,-0.12,-0.19
4,1884,-0.15,-0.08,-0.37,-0.42,-0.36,-0.40,-0.34,-0.26,-0.27,-0.24,-0.30,-0.28,-0.29,-.28,-.13,-0.39,-0.34,-0.27

In [3]:
type(df["Year"][0])

numpy.int64

In [4]:
df['q_Year'] = df["Year"] 
df["Year"] = df["Year"].astype("str")
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,q_Year
0,1880,-0.29,-0.18,-0.11,-0.19,-0.11,-0.23,-0.21,-0.09,-0.16,-0.23,-0.20,-0.23,-0.19,***,***,-0.14,-0.18,-0.20,1880
1,1881,-0.15,-0.17,0.04,0.04,0.02,-0.20,-0.06,-0.02,-0.13,-0.20,-0.21,-0.10,-0.10,-.11,-.18,0.03,-0.09,-0.18,1881
2,1882,0.15,0.15,0.04,-0.18,-0.16,-0.26,-0.20,-0.05,-0.10,-0.24,-0.16,-0.24,-0.10,-.09,.06,-0.10,-0.17,-0.17,1882
3,1883,-0.31,-0.39,-0.13,-0.17,-0.20,-0.12,-0.08,-0.15,-0.20,-0.14,-0.22,-0.16,-0.19,-.20,-.31,-0.16,-0.12,-0.19,1883
4,1884,-0.15,-0.08,-0.37,-0.42,-0.36,-0.40,-0.34,-0.26,-0.27,-0.24,-0.30,-0.28,-0.29,-.28,-.13,-0.39,-0.34,-0.27,1884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2013,0.66,0.55,0.66,0.52,0.57,0.65,0.57,0.65,0.76,0.67,0.78,0.65,0.64,.63,.58,0.58,0.63,0.74,2013
134,2014,0.73,0.52,0.76,0.77,0.85,0.66,0.56,0.80,0.88,0.81,0.66,0.78,0.73,.72,.63,0.79,0.67,0.78,2014
135,2015,0.81,0.87,0.90,0.74,0.75,0.79,0.71,0.79,0.81,1.07,1.02,1.10,0.86,.84,.82,0.80,0.76,0.97,2015
136,2016,1.15,1.34,1.30,1.07,0.90,0.78,0.82,0.99,0.87,0.89,0.90,0.82,0.99,1.01,1.19,1.09,0.86,0.88,2016
137,2017,0.96,1.11,1.13,0.93,0.88,0.70,0.81,0.86,0.74,0.88,0.87,0.89,0.90,.89,.96,0.98,0.79,0.83,2017

In [5]:
alt.Chart(df).mark_point(filled = True, color = '#db7209').encode(
    x = alt.X(field='Year', type = 'temporal',
             ),
    y = alt.Y(field = 'J-D', type = 'quantitative'), 
).properties(width = 800, height = 500, background = '#F9F9F9', padding = 25)


# alt.mark_circle(filled = False, color = 'black')

Displaying chart at http://localhost:18023/

In [6]:
circles = alt.Chart(df).mark_circle(filled = False, size = 55, color = '#373535', opacity=0.7).encode(
    x = alt.X(field='Year', type = 'temporal'),
    y = alt.Y(field = 'J-D', type = 'quantitative'), 
)

points = alt.Chart(df).mark_point(
    filled = True, size = 50, color='#f07043', opacity=1.0).encode(
    
    
    x = alt.X(field='Year', 
              type='temporal',
              axis = alt.Axis(tickCount = 10,
              labelColor='grey',title='',
              domain=False)
             ),
    
    y = alt.Y(field = 'J-D', 
              type = 'quantitative',
              axis = alt.Axis(tickCount = 9, 
              labelColor='grey',title='',
              domain=False,
              labelExpr='datum.value <-0.5 ? null : datum.value >0.0 ? "+"+datum.label+"°" : datum.label+"°"'), 
              scale=alt.Scale(domain=[-0.5, 1.2]))
    
)

line = alt.Chart(pd.DataFrame({'y': [0.0]})).mark_rule(color='grey').encode(y='y')

text_left = alt.Chart(df.query("Year in ['1904', '1998']")
    ).mark_text(dx=-20, color="black",font = 'Futura', fontWeight=400).encode(
    x=alt.X(field='Year', type='temporal'), 
    y=alt.Y(field = 'J-D',type = 'quantitative'), 
    text=alt.Text(field='q_Year', type='quantitative'))

text_right = alt.Chart(df.query("Year in ['1944', '2014', '2015', '2017']")
    ).mark_text(dx=20, color="black", font = 'Futura', fontWeight=400).encode(
    x=alt.X(field='Year', type='temporal'), 
    y=alt.Y(field = 'J-D',type = 'quantitative'), 
    text=alt.Text(field='q_Year', type='quantitative'))

text_bold = alt.Chart(df.query("Year in ['2016']")
    ).mark_text(dx=20, color="black", font = 'Futura',fontWeight='bold').encode(
    x=alt.X(field='Year', type='temporal'), 
    y=alt.Y(field = 'J-D',type = 'quantitative'), 
    text=alt.Text(field='q_Year', type='quantitative'))

text0 = alt.Chart({'values':[{'x': '2018', 'y': 0.1}]}).mark_text(
    text='HOTTER THAN THE\n1880 - 1899 AVERAGE', lineBreak='\n', font = 'Futura',
    align='right'
).encode(
    x='x:T', y='y:Q'
)

text1 = alt.Chart({'values':[{'x': '2018', 'y': -0.04}]}).mark_text(
    text='COLDER', font = 'Futura',
    align='right'
).encode(
    x='x:T', y='y:Q'
)


text_superscript_0 = alt.Chart({'values':[{'x': '1881', 'y': 1.2}]}).mark_text(
    text='Annual Global Surface Temperature,\nRelative to Late 19th Century Average', 
    align='left', font = 'Futura',
    fontSize=13, fontWeight='bold', color='#4B4545',  lineBreak='\n'
).encode(
    x='x:T', y='y:Q'
)



(circles+points+line+text_left+text_right+text_bold+text0+text1+text_superscript_0).properties(
    width = 800, height = 500, background = '#F9F9F9', padding = 25).configure_view(
    strokeWidth=0)

Displaying chart at http://localhost:18023/

Порівнюючи обидва графіки, видається, що дані у моєму випадку зміщені по осі y на 0.1-0.2